<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MEDIGATOR - Connect to Medics !</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      h2{
        color: rgb(64, 67, 69);
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark p-2" style="position:fixed; top:0; right:0; left:0; background-color:rgb(0, 0, 0);">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><strong>MEDIGATOR +</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li>
              <h2>|</h2>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.endpoint == 'home' %}active{% endif %}" href="{{ url_for('home') }}">Home</a>
            </li>
            <li>
              <h2>|</h2>
            </li>
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle {% if request.endpoint in ['doc_login','user_login'] %}active{% endif %}" href="#" id="loginDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
              </a>
              <ul class="dropdown-menu" aria-labelledby="loginDropdown">
                <li><a class="dropdown-item" href="{{url_for('doc_login')}}">Doctor Login</a></li>
                <li><a class="dropdown-item" href="{{ url_for('user_login') }}">User Login</a></li>
              </ul>
            </li>
            <li>
              <h2>|</h2>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.endpoint == 'register' %}active{% endif %}" href="{{ url_for('register') }}">Register</a>
            </li>
            <li>
              <h2>|</h2>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.endpoint == 'about' %}active{% endif %}" href="{{url_for('about')}}">About</a>
            </li>
            <li>
              <h2>|</h2>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.endpoint == 'contact' %}active{% endif %}" href="{{url_for('contact')}}">Contact Us</a>
            </li>
            <li>
              <h2>|</h2>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
        {%block content%} 
        {% endblock %}
    </main>
    
  </body>
</html>